@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-100; /* or any Tailwind background color class */
}
@font-face {
  font-family: "Pincoya Black";
  src: url("/public/fonts/pincoyablack.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
